body {
  background: #F4F4F4; }

.state-404 {
  overflow: visible !important;
  background: #F4F4F4; }
  .state-404 .wrap {
    width: 100%;
    position: absolute;
    top: 1.06667rem;
    bottom: 0rem;
    -webkit-overflow-scrolling: touch;
    overflow: hidden; }
    .state-404 .wrap .scroll {
      display: block;
      webkit-overflow-scrolling: touch; }
  .state-404 .tips-logo {
    background-image: url("../../images/state/404@3x.png");
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-repeat: no-repeat;
    width: 6.58667rem;
    height: 4.85333rem;
    display: block;
    margin: auto;
    margin-top: 3.2rem; }
