@import '../comomn/_mixin';
@import '../comomn/_variable';
$bgUrl: '../../images/order/order/';
body {
  background: #F4F4F4;
}
.Comment{
  overflow: visible!important;
  background: #F4F4F4;

  .wrap{
    width:100%;
    position:absolute;
    @include px2rem('top',40px);
    @include px2rem('bottom',49px);
    overflow: visible;
    .scroll{
      display: block;
      width:100%;
      overflow: scroll;
    }
  }
  .le_btn{
    position: absolute;
    bottom:0px;
    width:100%;
  }
  .cart-item {
    width: 100%;
    overflow: hidden;
    &>.singal{
      @include border-px(1.06px,#eee,bottom);
    }
    &>.muti{
      @include px2rem('padding-bottom',10px);
      @include border-px(1.06px,#eee,bottom);
    }
    .cont {
      width: percentage(477/377);
      @include px2rem('height', 80px);
      display: block;
      background: #fff;
      transition: transform .3s ease;
      position: relative;
      .sku {
        width: percentage(377/477);
        @include px2rem('height', 80px);
        @include px2rem('padding-left',15px);
        @include px2rem('padding-top',10px);
        box-sizing: border-box;
        position: relative;
        @include fl();
        .le-num-control{
          @include px2rem('right',20px);
          @include px2rem('top',70px);
        }
        .logo{
          @include fl();
          @include px2rem('height',60px);
          @include px2rem('width',60px);
          image{
            width:100%;
            height:100%;
          }
        }
        .info{
          @include fl();
          //@include px2rem('width',212px);
          @include px2rem('margin-left',10px);
          width:71%;
          .tit{
            a{
              color: #666;
            }
            @include px2px('font-size',28px);
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:1;
            line-height:1.25;
            width:100%;
            overflow: hidden;
            line-height: 1.1em;
          }
          .cate{
            color:#999999;
            @include px2px('font-size',24px);
            @include px2rem('margin-top',20px);
          }

        }
      }
    }
    .muti-cont{
      //@include px2rem('width', 315px);
      width:90%;
      @include px2rem('height', 60px);
      @include px2rem('padding',5px);
      box-sizing: border-box;
      margin:auto;
      background: rgba(65,117,5,0.03);
      display: block;
      @include border-px(1.09px,#eee);
      @include px2rem('margin-top',2px);
      .cart-icon-plus{
        background: url("../../images/cart/plus.svg");
        @include wh(21px, 50px);
        background-size: 100%;
        background-position:center center;
        background-repeat:no-repeat;
        @include fl();
      }
      .sku-logo{
        @include wh(50px, 50px);
        @include fl();
        img{
          width:100%;
        }
      }
      .info{
        @include fl();
        @include px2rem('width',180px);
        @include px2rem('margin-top',10px);
        @include px2rem('margin-left',5px);
        a{
          color: #666;
          @include px2px('font-size',22px);
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          line-height:1.25em;
          width:100%;
          overflow: hidden;
        }

      }
      .num{
        color: #666;
        @include fr();
        @include px2px('font-size',20px);
        @include px2rem('margin-top',15px);
        @include px2rem('margin-right',23px);
      }
    }
  }
  .comment-box{
    @include px2rem('padding',15px);
    .starts{
      position: absolute;
      @include xy-rt(0px,5px);

    }
  }
}
