@import '../comomn/_mixin';
@import '../comomn/_variable';
$bgUrl: '../../images/order/detail/';
body {
  background: #F4F4F4;
}
.Detail{
  background: #F4F4F4;
  .wrap{
    width:100%;
    position:absolute;
    @include px2rem('top',40px);
    @include px2rem('bottom',51px);
    overflow: scroll;
    .scroll{
      display: block;
    }
  }
  .order-detail-top{
    width:100%;
    //@include px2rem('height',78px);
    @include padding-tb(10px,10px);
    @include padding-lr(18px,18px);
    box-sizing: border-box;
    background: rgba(0,0,0,.8);
    color: #fff;
    &.finish,&.closed,&.waitSend{
      @include padding-tb(26px,26px);
      .order-state{
        @include font-size(20px);
      }
      .le_btn{
        @include px2rem('width',125px);
        @include fr();
        @include font-size(14px);
      }
    }
    .order-state{
      @include font-size(20px);
      @include fl();
    }
    .order-times{
      @include font-size(14px);
      background: #FF2929;
      display: inline-block;
      @include px2rem('padding',2px);
      @include padding-lr(5px,5px);
      @include px2rem('border-radius',8px);
      @include fr();
      @include xy-rt(0px,5px);
      position: relative;
    }
    .order-tips{
      @include font-size(14px);
      width:100%;
    }
  }
  .order-flow-box{
    @include padding-lr(15px,15px);
    .order-flow-tip{
      @include padding-tb(7px,7px);
      @include border-px(1.06px,#eee,bottom);
    }
    .order-flow-cont{
      .flow-info{
        @include padding-tb(7px,7px);
      }
      .flow-lian{
        width:percentage(310/375);
        overflow-y: scroll;
        @include px2rem('height',200px);
        margin: auto;
        @include  px2rem('padding-left',10px);
        position: relative;
        .flow-lian-scroll{
          position: relative;
          &:before{
            content:'';
            display: block;
            @include px2rem('width',1px);
            height:100%;
            @include border-px(1.06px,#ddd,left);
            position: absolute;
            @include xy-lt(0px,0px);
          }
        }
        .flow-lian-item{
          position: relative;
          top:0px;
          left:0px;
          padding-left:25px;
          padding-top:5px;
          padding-bottom:5px;
          @include px2rem('min-height',45px);
          &.disable{
            color: #999;
            .flow-point{
              &:after{
                content: '';
                width: 10px;
                height:10px;
                background: #d1d1d1;
                display: block;
                position: absolute;
                border-radius: 999px;;
                position: absolute;
                left:10px;
                top:10px;
                box-sizing: border-box;
              }
            }
          }
          &.active{
            color: #00A4E7;
            .flow-point{
                &:before{
                  content: '';
                  width: 20px;
                  height:20px;
                  background: #00A4E7;
                  display: block;
                  border-radius: 999px;;
                  position: absolute;
                  top:5px;
                  left:5px;
                  box-sizing: border-box;
                }
                &:after{
                  content: '';
                  width: 10px;
                  height:10px;
                  background: #fff;
                  display: block;
                  position: absolute;
                  border-radius: 999px;;
                  position: absolute;
                  left:10px;
                  top:10px;
                  box-sizing: border-box;
                }
            }
          }
          .flow-point{
            width: 30px;
            height:30px;
            background: #fff;
            border-radius: 999px;;
            position: absolute;
            left:-15px;
            top:0px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .order-base-info{
    @include font-size(12px);
    color:#666666;
    background: #fff;
    @include padding-tb(15px,15px);
    @include padding-lr(15px,15px);
    .w_p_50,.w_full{
      @include padding-tb(4px,4px);
      overflow: hidden;
      i{
        vertical-align: middle;
      }
      span{
        @include px2rem('padding-left',5px);
        @include l-height(18px);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .order-cont{
    .order-empty{
      @include px2rem('width',426px/3*2);
      margin: auto;
      @include px2rem('margin-top',20px);
      .empty-logo{
        @include bg-image($bgUrl+'empty');
        @include wh(142px,141px);
        background-position: center center;
        margin: auto;
        position: relative;
        @include px2rem('left',20px);
      }
      .order-empty-tips{
        @include px2rem('margin-top',20px);
        text-align: center;
        @include font-size(14px);
        color:#d1d1d1;
      }
      .empty-btn{
        @include wh(180px,44px);
        margin:auto;
        @include px2rem('margin-top',20px);

      }
    }

    .order-item{
      width:100%;
      background: #fff;
      @include px2rem('margin-top',10px);
      &>.tit{
        @include l-height(53px);
        @include padding-lr(15px,15px);
        @include border-px(1.06px,#eee,bottom);
        color:#666666;
        @include font-size(14px);
        .order-state{
          color:#d1d1d1;
          &.wait-pay{
            color: #00A4E7;
          }
        }
      }
      .cart-item {
        width: 100%;
        overflow: hidden;
        &>.singal{
          @include border-px(1.06px,#eee,top);
          &:nth-child(1){
            border:none;
          }
        }
        &>.muti{
          @include px2rem('padding-bottom',10px);
          @include border-px(1.06px,#eee,bottom);
        }
        &>.muti-no{
          &:last-child{
            @include px2rem('padding-bottom',10px);
          }
        }
        .cont {
          width: percentage(477/377);
          @include px2rem('height', 80px);
          display: block;
          background: #fff;
          transition: transform .3s ease;
          position: relative;
          .sku {
            width: percentage(377/477);
            @include px2rem('height', 80px);
            @include px2rem('padding-left',15px);
            @include px2rem('padding-top',10px);
            box-sizing: border-box;
            position: relative;
            @include fl();
            .le-num-control{
              @include px2rem('right',20px);
              @include px2rem('top',70px);
            }
            .logo{
              @include fl();
              @include px2rem('height',60px);
              @include px2rem('width',60px);
              image{
                width:100%;
                height:100%;
              }
            }
            .info{
              @include fl();
              //@include px2rem('width',212px);
              @include px2rem('margin-left',10px);
              width:51%;
              .tit{

                color: #666;

                @include px2px('font-size',28px);
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
                line-height:1.25;
                width:100%;
                overflow: hidden;
                line-height: 1.1em;
              }
              .cate{
                color:#999999;
                @include px2px('font-size',24px);
                @include px2rem('margin-top',10px);
              }

            }
            .price{
              @include px2px('font-size',24px);
              color:#666666;
              position: absolute;
              @include px2rem('right',10px);
              @include px2rem('top',28px);
            }
          }
        }
        .muti-cont{
          //@include px2rem('width', 315px);
          width:90%;
          @include px2rem('height', 60px);
          @include px2rem('padding',5px);
          box-sizing: border-box;
          margin:auto;
          background: rgba(65,117,5,0.03);
          display: block;
          @include border-px(1.09px,#eee);
          @include px2rem('margin-top',2px);
          .cart-icon-plus{
            background: url("../../images/cart/plus.svg");
            @include wh(21px, 50px);
            background-size: 100%;
            background-position:center center;
            background-repeat:no-repeat;
            @include fl();
          }
          .sku-logo{
            @include wh(50px, 50px);
            @include fl();
            img{
              width:100%;
            }
          }
          .info{
            color: #666;
            @include fl();
            @include px2rem('width',180px);
            @include px2rem('margin-top',10px);
            @include px2rem('margin-left',5px);
            overflow: hidden;
            a{
              color: #666;
              @include px2px('font-size',22px);
              display:-webkit-box;
              -webkit-box-orient:vertical;
              -webkit-line-clamp:2;
              line-height:1.25em;
              width:100%;
              overflow: hidden;
            }

          }
          .num{
            color: #666;
            @include fr();
            @include px2px('font-size',20px);
            @include px2rem('margin-top',15px);
            @include px2rem('margin-right',23px);
          }
        }
      }
      .order-detail-count{
        @include px2rem('padding',15px);
        .d_flex{
          @include px2rem('padding-bottom',7px);
          div:nth-child(1){
            color:#999999;
            @include font-size(14px);
          }
          div:nth-child(2){
            color:#666;
            @include font-size(14px);
          }
        }
      }

    }
  }
  .order-detail-foot{
    @include l-height(51px);
    position: fixed;
    bottom:0px;
    width:100%;
    .le_btn{
      @include l-height(51px);
    }
  }
}
.icon-name{
  @include bg-image($bgUrl+'username');
  @include wh(16px,18px);
  display: inline-block;
}
.icon-telphone{
  @include bg-image($bgUrl+'telphone');
  @include wh(18px,18px);
  display: inline-block;
}
.icon-address{
  @include bg-image($bgUrl+'address');
  @include wh(18px,20px);
  display: inline-block;
}
.icon-flow-ems{
  @include bg-image($bgUrl+'ems');
  @include  wh(87px,50px);
  display: inline-block;
  background-position: center center;
}
.bg-flowInit{
  @include bg-image($bgUrl+'flowInit');
  @include wh(79px,115px);
  display: block;
  background-position: center center;
  margin:auto;
}