body {
  background: #F4F4F4; }

.PayState {
  background: #FFF; }
  .PayState .wrap {
    width: 100%;
    position: absolute;
    top: 1.06667rem;
    bottom: 0rem;
    overflow: hidden; }
    .PayState .wrap .scroll {
      display: block; }
  .PayState .pay-result {
    width: 6.4rem;
    display: block;
    margin: auto;
    margin-top: 3.2rem; }
    .PayState .pay-result .pay-success .pay-img {
      background-image: url("../../images/order/pay/pay-success@3x.png");
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-repeat: no-repeat;
      width: 6.4rem;
      height: 4.74667rem;
      display: block; }
    .PayState .pay-result .pay-error .pay-img {
      background-image: url("../../images/order/pay/pay-err@3x.png");
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-repeat: no-repeat;
      width: 6.66667rem;
      height: 5.41333rem;
      display: block; }
