<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>coupon</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../../css/comomn/common.css">
    <link rel="stylesheet" href="../../css/coupon/coupon.css">
    <script src="../../js/bundle/common/prev.bundle.js"></script>
</head>
<body>
<div id="app" class="Coupon" v-cloak>
    <nav class="header light">
        <i class="back"></i>
        <div class="tit">{{$t('coupon.header')}}</div>
        <div class="addblue-icon" @click="showPop('add')"></div>
    </nav>
    <!--bar-->
    <pull-tab :tab-arr="tabArr" :a-index="tabIndex" @changetab="changeTab"></pull-tab>
    <!--/bar-->
    <div class="wrap">
        <div class="scroll">
            <pull-wrap wrap-dom=".wrap" :tab-fix="tabIndex" scroll-dom=".scroll" fix-rem="2.12" :down-refresh="canLoadMore" @loadmore="loadMore" @canload="canLoad" @cancelload="cancelLoad">
                <ul class="coupon-box">
                    <li class="canuse" v-show="tabIndex==0">
                        <div class="coupon-empty" v-if="unUsed.data_list.length==0"></div>
                            <lists-animate>
                            <div class="coupon-item" v-for="item in unUsed.data_list" :key="item.coupon_code">
                                <div class="coupon-item-cont d_flex ">
                                    <div class="coupon-prizes">

                                            {{item.denomination_text}}

                                    </div>
                                    <div class="coupon-info flex_1 d_flex d_flex_verical">
                                        <div class="coupon-active">{{item.range_type_text}}</div>
                                        <div class="coupon-name flex_1">{{item.range_desc}}</div>
                                        <div class="coupon-data">{{item.start_time}} — {{item.end_time}}</div>
                                    </div>
                                </div>
                            </div>
                            </lists-animate>

                    </li>
                    <li class="used" v-show="tabIndex==1" style="display: none;">
                        <div class="coupon-empty" v-if="used.data_list.length==0"></div>


                            <div class="coupon-item" v-for="item in used.data_list" :key="item.coupon_code">
                                <div class="coupon-item-cont d_flex">
                                    <div class="coupon-prizes">
                                        {{item.denomination_text}}
                                    </div>
                                    <div class="coupon-info flex_1">
                                        <div class="coupon-active">{{item.range_type_text}}</div>
                                        <div class="coupon-name">{{item.range_desc}}</div>
                                        <div class="coupon-data">{{item.start_time}} — {{item.end_time}}</div>
                                    </div>
                                </div>
                            </div>


                    </li>
                    <li class="timeout" v-show="tabIndex==2" style="display: none;">
                        <div class="coupon-empty" v-if="outDate.data_list.length==0"></div>
                            <div class="coupon-item" v-for="item in outDate.data_list" :key="item.coupon_code">
                                <div class="coupon-item-cont d_flex">
                                    <div class="coupon-prizes">
                                        {{item.denomination_text}}
                                    </div>
                                    <div class="coupon-info flex_1">
                                        <div class="coupon-active">{{item.range_type_text}}</div>
                                        <div class="coupon-name">{{item.range_desc}}</div>
                                        <div class="coupon-data">{{item.start_time}} — {{item.end_time}}</div>
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
                <!--加载更多-->
                <load-More :state="loadState" v-if="canLoadMore">
                    {{$t('com.loadMore.scanMore')}}
                </load-More>
                <!--/加载更多-->
            </pull-wrap>
        </div>
    </div>
    <add-half-pop :state="halfPop.add" :shadow-close="false" @hidehalfpop="hidePop('add')"
                  :btn="[{'name':'Отменить','color':'#666'},{'name':'платить'}]" v-cloak @btncheck="addCoupon">
        <div class="input_full">
            <span class="f_14 f_color_d1">Введите номер ваучера</span>
        </div>
        <div class="input_full">
            <input type="text" id="couponKey" placeholder="">
        </div>
    </add-half-pop>
</div>
</body>
<script src="../../js/bundle/common/tool.bundle.js"></script>
<script src="../../js/bundle/common/animate.bundle.js"></script>
<script src="../../js/common/vue.min.js"></script>
<script src="../../js/bundle/common/lang.bundle.js"></script>
<script src="../../js/components/common.js"></script>
<script src="../../js/common/app_tools.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        i18n: i18n,
        data: {
            tabArr: [],
            tabIndex: 0,
            halfPop: {
                add: false
            },
            pageSize : 10,//每页数量
            couponMap :['unUsed','used','outDate'],
            unUsed: {
                page_num: 0,
                total_count:undefined,
                data_list: []
            },
            used : {
                page_num: 0,
                total_count:undefined,
                data_list: []
            },
            outDate : {
                page_num: 0,
                total_count:undefined,
                data_list: []
            },
            loadState : ''

        },
        components: {
            pullTab: pullTab,
            pullWrap: pullWrap,
            addHalfPop: halfPop,
            loadMore : loadMore,
            listsAnimate : listsAnimate
        },
        computed : {
            canLoadMore : function(){
                var map = this.couponMap;
                var key = map[this.tabIndex];
                //通过计算属性 算出该页可否继续加载
                if(this[key].total_count/this.pageSize  > this[key].page_num){
                    return true;
                }else{
                    return false;
                }
            }
        },
        mounted: function () {
            var xthis = this;
            appTools.fixSwiper();
            this.tabArr = [this.$t('hot.coupon.unused'),
                this.$t('hot.coupon.used'),
                this.$t('hot.coupon.outDate')];
            $(function(){
                xthis.toGetInitList(1);
            })
            xthis.swiperBind();
        },
        created: function () {
        },
        methods: {
            //左右滚动bind
            changeTab:function(index){
                this.tabIndex = index;
                this.toGetInitList(this.tabIndex+1);
            },
            swiperBind: function(){
                var xthis = this;
                //兼容自带左右滑动的浏览器= =
                appTools.fixSwiper();
                touch.on($('.coupon-box')[0],'swipeleft',function(){
                    if(xthis.tabIndex==(xthis.tabArr.length-1)){
                        return false;
                    }
                    xthis.tabIndex = xthis.tabIndex + 1;
                    xthis.toGetInitList(xthis.tabIndex+1);
                });
                touch.on($('.coupon-box')[0],'swiperight',function(){
                    if(xthis.tabIndex==0){
                        return false;
                    }
                    xthis.tabIndex = xthis.tabIndex - 1;
                    xthis.toGetInitList(xthis.tabIndex+1);
                });
            },

            //ajax封装
            ajaxList : function(type,plus){
               var xthis = this;
               var key = xthis.couponMap[type-1];
               var plus = plus?plus:0;
               var queryPage =   xthis[key].page_num + plus;
               //如果请求页码 小于等于当前页码就不再请求了
               if(queryPage <=xthis[key].page_num&&queryPage!=0){
                   var dtd = $.Deferred();
                   return dtd.reject();
               }
                return $.ajax({
                    url: appTools.api.couponApi,
                    data: appTools.ajax.combineData({
                        "opt": "9", //* 9表示活动接口
                        "cmd": "21", //* 获取优惠券列表
                    },{
                        "status": type, //* 优惠状态：1-可使用，2-已使用，3-已过期
                        "page_num": queryPage, //* 页码
                        "page_size": xthis.pageSize //* 页数
                    }),
                    type: 'get',
                    cache: false,
                    dataType: 'jsonp'
                });
            },
            ajaxAdd : function(couponKey){
                return $.ajax({
                    url: appTools.api.couponApi,
                    data: appTools.ajax.combineData({
                                "opt": "9", //* 9表示活动接口
                                "cmd": "23", //* 绑定优惠券
                            },{
                                "keyword": couponKey //* 优惠码/可绑定的优惠券名称
                            }
                    ),
                    type: 'get',
                    cache: false,
                    dataType : 'jsonp'
                });
            },

            /**
             * 加载第一页 
             * @param type
             */
            toGetInitList: function (type) {
                var xthis = this;
                appTools.isUserLogined();
                ajaxInstall.com(xthis.ajaxList,type)
                .done(function (data) {
                    if (data.err == 0) {
                        //正常的返回
                        if (data.data) {

                            var key = xthis.couponMap[type-1];
                            xthis[key] = data.data;
                        }
                    } else {
                        Vue.$toast({'message': xthis.$t('hot.tips.eventError')});
                    }
                });

            },

            //pop组件相关
            showPop: function (style) {
                this.halfPop[style] = true;
            },
            hidePop: function (style) {
                this.halfPop[style] = false;
            },

            //绑定优惠券
            addCoupon: function (key) {
                var xthis = this;
                if(key==0){
                    this.halfPop.add = false;
                    return false;
                }
                var couponKey = $('#couponKey').val();
                if(!couponKey){
                    Vue.$toast({'message':vm.$t('com.form.emptyTips')});
                    return false;
                }
                appTools.isUserLogined();
                ajaxInstall.com(xthis.ajaxAdd,couponKey)
                .done(function(data){
                    if(data.err==0){
                        //绑定成功
                        Vue.$toast({'message':vm.$t('hot.tips.eventSuccess')});
                        _.delay(function(){
                            window.location.reload();
                        },300);
                    }else{
                        Vue.$toast({'message':data.msg});
                    }
                })
                this.halfPop.add = false;

            },

            //加载更多相关
            loadMore:function(obj){
                var xthis = this;
                xthis.loadState = 'loadMore';
                ajaxInstall.com(xthis.ajaxList,xthis.tabIndex+1,1)
                .done(function (data) {
                    if (data.err == 0) {
                        //正常的返回
                        var key = xthis.couponMap[xthis.tabIndex];
                        var tempList = xthis[key].data_list;
                        if (data.data) {
                            xthis[key] = data.data;
                            xthis[key].data_list = tempList.concat(xthis[key].data_list);
//                            obj.touchObj.to(0);
                            xthis.loadState = 'end';

                        }
                    } else {
                        Vue.$toast({'message': xthis.$t('hot.tips.eventError')});
                    }
                });
            },
            canLoad : function(){
                this.loadState = 'canLoad';
            },
            cancelLoad:function(){
                this.loadState = '';
            }
        }
    });

</script>
</html>