<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>cate</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../css/comomn/common.css">
    <link rel="stylesheet" href="../../css/lists/cate.css">
    <script src="../../js/bundle/common/prev.bundle.js"></script>
</head>
<body>
<div id="app" class="Cate" v-cloak>
    <nav class="header light">
        <i class="back"></i>
         <div class="tit">{{$t('cate.header')}}</div>
    </nav>
    <div class="wrap" v-cloak>
        <div class="scroll">
                <!--left-wrap-->
                <div class="left-wrap">
                    <div class="left-scroll">
                        <pull-wrap wrap-dom=".left-wrap" scroll-dom=".left-scroll" fix-rem="1" >
                            <ul class="left-cate-ul">
                                <li class="active">
                                    <p>{{$t('hot.cate.allCate')}}</p>
                                </li>
                                <li>
                                    <p>{{$t('hot.cate.mobile')}}</p>
                                </li>
                                <li>
                                    <p>{{$t('hot.cate.tv')}}</p>
                                </li>
                                <li>
                                    <p>{{$t('hot.cate.smartDevice')}}</p>
                                </li>
                                <li>
                                    <p>{{$t('hot.cate.fitting')}}</p>
                                </li>
                            </ul>
                        </pull-wrap>
                    </div>
                </div>
                <!--/left-wrap-->
                <!--right-cont-->
                <div class="right-wrap">
                    <div class="right-scroll">
                        <pull-wrap wrap-dom=".right-wrap" scroll-dom=".right-scroll" fix-rem="1" :tab-fix="tabFix">
                            <!--right-item-->
                            <div class="right-item">
                                <div class="item-img">
                                    <img class="lazy" data-src="https://img20.360buyimg.com/da/jfs/t4447/280/1516718540/142601/5f90043c/58df43f2Ne5032e25.jpg" alt="">
                                </div>
                                <!--item-group-->
                                <div class="item-group">
                                    <div class="item-group-name">
                                        LETV
                                    </div>
                                    <ul class="item-group-ul">
                                        <li>
                                            <a href="/view/lists/lists.html" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearFloat"></div>
                                </div>
                                <!--/item-group-->
                                <!--item-group-->
                                <div class="item-group">
                                    <div class="item-group-name">
                                        COOLPAD
                                    </div>
                                    <ul class="item-group-ul">
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearFloat"></div>
                                </div>
                                <!--/item-group-->
                                <!--item-group-->
                                <div class="item-group">
                                    <div class="item-group-name">
                                        LETV
                                    </div>
                                    <ul class="item-group-ul">
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearFloat"></div>
                                </div>
                                <!--/item-group-->
                            </div>
                            <!--/right-item-->
                            <!--right-item-->
                            <div class="right-item" style="display: none;">
                                <div class="item-img">
                                    <img class="lazy" data-src="https://img20.360buyimg.com/da/jfs/t4447/280/1516718540/142601/5f90043c/58df43f2Ne5032e25.jpg" alt="">
                                </div>
                                <!--item-group-->
                                <div class="item-group">
                                    <div class="item-group-name">
                                        LETV2
                                    </div>
                                    <ul class="item-group-ul">
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearFloat"></div>
                                </div>
                                <!--/item-group-->
                                <!--item-group-->
                                <div class="item-group">
                                    <div class="item-group-name">
                                        COOLPAD
                                    </div>
                                    <ul class="item-group-ul">
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">Внешний аккумуляторВнешний аккумулятор</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" >
                                                <div class="imghold">
                                                    <img class="lazy" data-src="https://m.360buyimg.com/mobilecms/s357x357_jfs/t4075/142/133307582/213299/2be51c50/583e5a17N93b4b95b.jpg!q50.jpg" alt="">
                                                </div>
                                                <p class="col_2">LE 2</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearFloat"></div>
                                </div>
                                <!--/item-group-->
                            </div>
                            <!--/right-item-->
                        </pull-wrap>
                    </div>
                </div>
                <!--/right-cont-->

        </div>
    </div>

</div>
</body>
<script src="../../js/bundle/common/tool.bundle.js"></script>
<script src="../../js/bundle/common/animate.bundle.js"></script>
<script src="../../js/common/vue.min.js"></script>
<script src="../../js/bundle/common/lang.bundle.js"></script>
<script src="../../js/components/common.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        i18n:i18n,
        data: {
            tabFix : 0
        },
        components: {
            pullWrap: pullWrap
        },
        mounted: function () {
            var xthis = this;
            $('.left-cate-ul').find('li').click(function(){
                var index = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.right-item').eq(index).show().siblings().hide();
                setTimeout(function(){
                    $('html,body').trigger('scroll');
                },300);
                xthis.tabFix = index;
            })
        },
        created: function () {

        },
        methods: {
        }
    });
</script>
</html>